# Source only
.github/
.gitmodules
src/
data/
wiki/
tests/
unused/
test*.?js
CITATION.cff
TODO

# Build
.build/
.docs/
coverage/
.travis.yml
.coveralls.yml
tsconfig.json
jest.config.js
rollup.config.js
build.js
